/* Common */
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F3F3F5;
}
html,
body,
#root,
.App {
    height: 100%;
}
.IssueDetail {
    margin: 0 10px 10px 10px;
    padding: 10px;
}
.usersAddIco {
    display: inline-block;
}
.Projects,
.MyIssues {
    height: calc(100% - 90px);
    margin-right: 650px;
    margin-left: 290px;
}
.ProjectsDetail,
.IssueDetail {
    right: 0;
    width: 630px;
}
.Menu,
.ProjectsDetail,
.IssueDetail {
    height: calc(100% - 80px);
    position: absolute;
    top: 40px;
}
#root {
    background-color: #434B56;
}
.addImg {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    cursor: pointer;
}
.cursorPointer {
    cursor: pointer;
}
.title {
    font-size: 18px;
}
.margin {
    margin: 10px 20px;
}
.line {
    border-top: solid 1px #DEDEE6;
}
.delimiter {
    color: #a7a7a7;
}
.calendarBtn {
    vertical-align: middle;
    margin-bottom: 3px;
    cursor: pointer;
}
.userFirstLetters {
    background-color: #F17408;
    color: white;
    padding: 3px 4px 3px 3px;
    font-size: 12px;
    margin-right: 5px;
}
.appLogin {
    background-color: #F3F3F5;
}
.cursorDefault {
    cursor: default !important;
}
.wrapperYellowLine {
    position: relative;
}
/*---------------------------------------------------------*/

/* App */
.App .search {
    width: 50%;
    display: inline-block;
}
.App .search input {
    background-color: #434B56;
    border: solid 1px #787878;
    border-radius: 5px;
    padding: 6px 28px 6px 12px;
    color: #EFF3F6;
}
.App .search input::-webkit-input-placeholder {
    color: #EFF3F6;
}
.App .search input:active {
    border: solid 1px #787878;
}
.App .search div {
    position: relative;
}
.App .search img {
    position: absolute;
    left: 188px;
    top: 7px;
}
.App .currentUser {
    width: 50%;
    display: inline-block;
    text-align: right;
    margin-bottom: 4px;
    height: 20px;
    vertical-align: bottom;
    position: relative;
}
.App .currentUser .currentUserDropDown {
    position: absolute;
    right: -10px;
    top: 25px;
    background-color: #FFFFFF;
    width: 200px;
    text-align: left;
    z-index: 1;
}
.App .currentUser img {
    margin: 0 0 3px 4px;
}
.App .currentUser .currentUserDropDown div:first-child {
    margin: 20px 15px 15px 15px;
}
.App .currentUser .currentUserDropDown .userFirstLetters {
    padding: 8px;
    font-size: 14px;
}
.App .currentUser .currentUserDropDown .logout {
    background-color: #DADADA;
    padding: 5px 10px;
    border-top: solid 4px #F0F0F0;
    border-bottom: solid 4px #F0F0F0;
}
.App .currentUser .currentUserDropDown .logout span {
    cursor: pointer;
}
.App .currentUser .firstName {
    position: relative;
    top: 2px;
    color: #EFF3F6;
}
.App .currentUserFullName {
    white-space: nowrap;
}
/*---------------------------------------------------------*/

/* Login */
.Login #demoWrapper {
    position: absolute;
    bottom: 6px;
    right: 31px;
    cursor: pointer;
    color: #507CAB;
}
.Login #demoWrapper .demo {
    cursor: default;
}
.Login #demoWrapper .demo ul {
    position: absolute;
    bottom: -23px;
    left: 80px;
    background-color: #FFFFFF;
    padding: 15px;
    border: solid 1px #E4E3E8;
}
.Login #demoWrapper .demo li {
    list-style-type: none;
    margin-bottom: 10px;
    min-width: 200px;
}
.Login #demoWrapper .demo li div {
    text-align: left;
}
.Login {
    margin: 150px auto 0 auto;
    padding: 30px;
    width: 300px;
    background-color: white;
    border: solid 1px #E4E3E8;
    text-align: center;
    position: relative;
}
.Login form {
    width: 100%;
    margin: 0 auto;
}
.Login div:last-child {
    text-align: right;
}
.Login input {
    display: block;
    margin: 15px auto;
    width: 96%;
    padding: 10px 5px;
    background-color: #FBFBFB;
    border: solid 1px #CCCCCC;
    height: 16px;
}
.submitLogin {
    display: inline-block;
    padding: 10px 30px;
    background-color: #507CAB;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.Login .alert {
    text-align: center;
    font-size: 12px;
    background-color: #DFFFBE;
    padding: 10px 20px;
    color: #636766;
}
.Login .alertSmall {
    position: absolute;
    left: -15px;
    top: 0;
    background-color: #DFFFBE;
    padding: 19px 5px;
}
.Login .wrapperEmail {
    position: absolute;
}
/*---------------------------------------------------------*/

/* Header */
.Header {
    height: 30px;
    margin: 0 10px 10px 10px;
    padding: 10px 10px 0 10px;
}

/* Menu */
.ProjectsList {
    list-style-image: url("../images/list.png");
}
.Menu {
    left: 0;
    width: 250px;
    color: #EFF3F6;
    background-color: #4B5966;
    padding: 10px;
    margin: 10px;
}
.Menu .menuLeft,
.Menu .menuRight {
    width: 50%;
    display: inline-block;
}
.Menu .menuRight {
    text-align: right;
}
.Menu form {
    margin: 5px 0;
    width: 90%;
}
.Menu form input {
    width: 100%;
    padding: 5px 10px;
    border: solid 1px #5387B9;
    border-radius: 2px;
    background-color: #4B5966;
    color: #9EABBC;
}
/*---------------------------------------------------------*/

/* Select */
.Projects .selectWrapper {
    background-color: #F5F8FD;
    border-bottom: solid 1px #E0E0E0;
}
.Projects .SelectUser,
.Projects .Select {
    padding: 10px 20px;
    display: inline-block;
}
.Projects .Select .selectView {
    margin-right: 12px;
    text-transform: uppercase;
    vertical-align: bottom;
    color: #8D949A;
}
.Projects .SelectUser .selectedUser,
.Projects .Select .selectedStatus {
    color: #2685BA;
    vertical-align: bottom;
    margin-right: 2px;
}
.Projects .SelectUser .wrapperSelectUser:hover,
.Projects .Select .wrapperSelectStatus:hover {
    position: relative;
    background-color: rgba(192, 200, 224, 0.45);
    border-radius: 14px;
}
.SelectUser .wrapperSelectUser,
.Select .wrapperSelectStatus {
    position: relative;
    padding: 4px 10px;
    margin-left: -10px;
}
.Projects .SelectUser .selectedUser,
.ProjectsDetail .SelectProjectStatus .selectProjectStatus,
.IssueDetail .SelectProject .selectedProject,
.Select .selectedStatus {
    cursor: pointer;
}
.SelectUser .selectUsersList,
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus,
.IssueDetail .SelectProject .selectProjectsList,
.Select .selectOptionsList {
    position: absolute;
    left: 0;
    top: 25px;
    box-shadow: 0 0 5px 2px rgba(116, 116, 116, 0.6);
    background-color: #FFFFFF;
    font-size: 13px;
    z-index: 3;
}
.Select .wrapperOptionsList {
    padding: 5px 8px;
    cursor: pointer;
    min-width: 116px;
}
.Projects .SelectUser .selectUser:first-child,
.Select .wrapperOptionsList:first-child {
    padding-top: 8px;
}
.Projects .SelectUser .selectUser:last-child,
.Select .wrapperOptionsList:last-child {
    padding-bottom: 8px;
}
.Projects .Select .wrapperOptionsList:hover {
    background-color: #F5F5F5;
}
.Select .wrapperOptionsList .optionsListColor {
    padding: 7px;
    display: inline-block;
    margin-right: 10px;
}
.Select .optionsList {
    display: inline-block;
    width: 70%;
    color: #44494f;
    vertical-align: top;
}
.IssueDetail .Select .statusIssueDetail {
    padding: 10px;
    display: inline-block;
}
.IssueDetail .Select .selectOptionsList {
    left: 11px;
    top: 30px;
}
.IssueDetail .Select .wrapperOptionsList:hover {
    background-color: #5785B4;
}
.IssueDetail .Select .wrapperOptionsList:hover .optionsList {
    color: #FFFFFF;
}
.IssueDetail .Select .wrapperOptionsList:hover .optionsListColor {
    border: solid 1px #FFFFFF;
    padding: 6px 6px 7px 7px;
}
.IssueDetail .Select img {
    margin-bottom: 6px;
}
.ProjectsDetail .SelectProjectStatus .wrapperSelectProjectStatus,
.IssueDetail .SelectProject .wrapperSelectProject {
    position: relative;
}
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus,
.IssueDetail .SelectProject .selectProjectsList {
    left: 0;
    top: 25px;
    text-align: left;
    white-space: nowrap;
}
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus .selectProjectStatus,
.IssueDetail .SelectProject .selectProjectsList .selectProject {
    padding: 2px 8px;
    cursor: pointer;
}
.Projects .SelectUser .selectUsersList .selectUser:hover,
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus .selectProjectStatus:hover,
.IssueDetail .SelectProject .selectProjectsList .selectProject:hover {
    background-color: #F5F5F5;
}
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus .selectProjectStatus:first-child,
.IssueDetail .SelectProject .selectProjectsList .selectProject:first-child {
    padding-top: 8px;
}
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus .selectProjectStatus:last-child,
.IssueDetail .SelectProject .selectProjectsList .selectProject:last-child {
    padding-bottom: 8px;
}
.ProjectsDetail .SelectProjectStatus .selectProjectsListStatus {
    left: 60px;
}
.ProjectsDetail .SelectProjectStatus img {
    margin: 0 0 1px 5px;
}
.SelectUser .selectUsersList {
    left: 0;
    top: 25px;
    text-align: left;
    white-space: nowrap;
}
.Projects .SelectUser .selectUsersList .selectUser {
    padding: 6px 8px;
    cursor: pointer;
}
.Projects .SelectUser .selectUser {
    color: #44494f;
}
/*---------------------------------------------------------*/

/* Projects */
.Projects {
    background-color: #FFFFFF;
    padding: 10px 0;
}
.Projects span.title {
    width: 20%;
    display: inline-block;
}
.Projects form input {
    width: 100%;
    padding: 2px;
    border: solid 1px #DEDEE6;
    border-radius: 2px;

}
.Projects .wrapperAddImg .addImg {
    margin-left: 0;
}
.fullWidth {
    margin-right: 10px;
}
.ProjectsMenu {
    padding: 0;
    min-width: 310px;
}
.ProjectsMenu li {
    display: inline-block;
    padding: 0 10px 8px 10px;
    cursor: pointer;
}
.ProjectsMenu li:first-child {
    padding-left: 0;
}
.ProjectsMenu .menuActive {
    border-bottom: 4px solid #4D7DAE;
}
.ProjectsMenu.menuTable {
    display: inline-block;
    width: calc(80% - 60px);
    text-align: right;
    margin: 0;
}
.Projects .wrapperAddImg {
    color: #2685BA;
}
.Projects .wrapperAddImg span {
    cursor: pointer;
}
.ProjectsIssuesList .issuesListLabel {
    background-color: #F3F3F5;
    color: #ADADAD;
    margin-left: 5px;
}
.ProjectsIssuesList .issuesListItems {
    padding: 10px 10px 10px 25px;
    cursor: pointer;
}
.MyIssues .issuesListItems:hover,
.ProjectsIssuesList .issuesListItems:hover {
    background-color: #A9C6EE;
}
.MyIssues .issuesListLabel span,
.MyIssues .issuesListItems div,
.ProjectsIssuesList .issuesListItems div {
    display: inline-block;
    width: 50%;
}
.ProjectsIssuesList .issuesListItems .projectName {
    margin-left: 10px;
    border: 1px solid #DFDFDF;
    padding: 2px 6px;
    font-size: 13px;
}
.ProjectsIssuesList .issuesListItems .issueName {
    vertical-align: middle;
}
.ProjectsIssuesList .issuesListItems .userFirstLetters {
    border-radius: 3px;
}
.MyIssues .issuesListLabel span:last-child,
.MyIssues .issuesListItems div:last-child,
.ProjectsIssuesList .issuesListItems div:last-child {
    text-align: right;
}
.MyIssues .issuesListItems div:last-child,
.ProjectsIssuesList .issuesListItems div:last-child {
    font-size: 13px;
    font-style: italic;
}
.ProjectsIssuesList .issuesListLabel img {
    padding: 3px 3px 4px 3px;
}
.ProjectsIssuesList .wrapperIssuesListLabel {
    position: relative;
}
.ProjectsIssuesList .issuesCollapseBtn {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
}
.ProjectsIssuesList input:checked ~ .issuesListElements {
    max-height: 0;
    overflow: hidden;
}
.ProjectsIssuesList .issuesListLabel .arrow {
    padding: 5px;
    margin-left: 2px;
    position: relative;
    top: 10px;
}
.ProjectsIssuesList input:checked ~ .issuesListLabel .arrow {
    background: url("../images/arrowClose.png") no-repeat;
}
.ProjectsIssuesList input:not(:checked) ~ .issuesListLabel .arrow {
    background: url("../images/arrowOpen.png") no-repeat;
}
.ProjectsIssuesList .issuesListItems .userIco {
    padding-right: 25px;
    position: relative;
}
.ProjectsIssuesList .issuesListItems .userIco img {
    height: 20px;
    position: absolute;
    top: 0;
}
/*---------------------------------------------------------*/

/* ProjectsDetail */
.ProjectsDetail .yellowLine {
    background-color: #F5A73D;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
}
.ProjectsDetail textarea {
    display: block;
}
.ProjectsDetail button {
    margin-left: 15px;
}
/*---------------------------------------------------------*/

/* MyIssues */
.MyIssues {
    background-color: #FFFFFF;
    padding: 10px 0;
}
.MyIssues .issuesListLabel {
    background-color: #F5F5F5;
}
.MyIssues .issuesListLabel span:first-child span {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    width: auto;
    text-align: left;
}
.MyIssues .issuesListLabel span:last-child span,
.MyIssues .completed div:last-child span{
    background-color: #A9ABA8;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    display: inline-block;
}
.MyIssues .issuesListLabel,
.MyIssues .issuesListItems {
    padding: 10px 10px 10px 20px;
}
.MyIssues .issuesListItems {
    cursor: pointer;
}
.MyIssues .issuesListItems div:first-child {
    font-weight: 600;
}
.MyIssues .wrapperAddBtn {
    color: #5086B5;
}
.MyIssues .wrapperAddBtn span {
    cursor: pointer;
}
.MyIssues form {
    width: calc(100% - 32px);
    margin-right: 5px;
}
.MyIssues form input {
    display: inline-block;
    width: calc(100% - 32px);
    padding: 2px;
    border: solid 1px #DEDEE6;
    border-radius: 2px;
}
.MyIssues form input:active {
    border: solid 1px #5387B9;
}
.MyIssues,
.Projects {
    overflow-y: auto;
    overflow-x: hidden;
}
.MyIssues .completed {
    background-color: #F5F5F5;
    padding: 10px 10px 10px 20px;
}
.MyIssues .completed div {
    width: 50%;
    display: inline-block;
}
.MyIssues .completed div:last-child {
    text-align: right;
}
.MyIssues .completed img {
    margin-right: 10px;
}
.MyIssues .needProject {
    margin-left: 20px;
    color: red;
}
/*---------------------------------------------------------*/

/* IssueDetail */
.ProjectsDetail,
.IssueDetail {
    background-color: #FFFFFF;
    padding: 10px 0;
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.IssueDetail table {
    width: 100%;
    border-spacing: 0;
}
.IssueDetail table tr td {
    border-top: solid 1px #DEDEE6;
}
.IssueDetail table tr td:first-child {
    text-align: left;
    padding: 10px 10px 10px 20px;
}
.IssueDetail table tr td:nth-child(2),
.IssueDetail table tr td:nth-child(3) {
    border-left: solid 1px #DEDEE6;
    padding: 10px;
}
.IssueDetail table tr:first-child td:nth-child(1) {
    width: 12%;
}
.IssueDetail table tr:first-child td:nth-child(2) {
    text-align: center;
    width: 23%;
}
.IssueDetail table tr:nth-child(3) td textarea {
    vertical-align: middle;
    width: 100%;
}
.IssueDetail table tr:nth-child(3) td {
    border-bottom: solid 1px #DEDEE6;
}
.IssueDetail table tr:nth-child(2) td:first-child {
    text-align: center;
}
.IssueDetail .tasksAddUserImg {
    margin-right: 5px;
}
.IssueDetail table tr:nth-child(n+4) td {
    background-color: #FAFAFA;
    padding: 5px 5px 5px 20px;
}
.IssueDetail .tasksForm img {
    margin-right: 5px;
}
.IssueDetail .tasksForm form {
    width: 99%;
}
.IssueDetail .tasksForm form input {
    width: 100%;
    padding: 2px;
    border: solid 1px #DEDEE6;
    border-radius: 2px;
}
.IssueDetail .tasksForm form input:active {
    border: solid 1px #5387B9;
}
.IssueDetail .wrapperDatePicker:hover {
    color: #5387B9;
}
.IssueDetail table .author {
    font-size: 12px;
    font-style: italic;
    vertical-align: middle;
    color: #AAA5A7;
    text-align: right;
    padding-right: 20px;
}
.IssueDetail table .author span {
    vertical-align: middle;
    white-space: nowrap;
}
.IssueDetail .addUserText {
    font-size: 12px;
}
.IssueDetail .usersAddIco .addImg,
.ProjectsDetail .usersAddIco .addImg {
    vertical-align: middle;
    margin-bottom: 1px;
}
.IssueDetail .SelectProject > div,
.IssueDetail .issueUsersTD > div,
.IssueDetail .author,
.ProjectsDetail .detailInfo > div {
    min-height: 19px;
}
.ProjectsDetail .itemName,
.ProjectsDetail .wrapperDotsDropDown,
.IssueDetail .itemName,
.IssueDetail .wrapperDotsDropDown {
    width: 50%;
    display: inline-block;
}
.ProjectsDetail .itemName,
.IssueDetail .itemName {
    vertical-align: top;
    margin-top: 3px;
}
.ProjectsDetail .wrapperDotsDropDown img,
.IssueDetail .wrapperDotsDropDown img {
    cursor: pointer;
}
.ProjectsDetail .wrapperDotsDropDown,
.IssueDetail .wrapperDotsDropDown {
    text-align: right;
    position: relative;
}
.ProjectsDetail .dotsDropDown,
.IssueDetail .dotsDropDown {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    padding: 14px;
    border: solid 1px #DEDEE6;
    font-size: 12px;
    box-shadow: 0 0 7px 2px rgba(116, 116, 116, 0.3);
}
.ProjectsDetail .detailDescription,
.IssueDetail .detailDescription {
    border: none;
    border-radius: 3px;
    width: 95%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ProjectsDetail .userFirstLetters,
.IssueDetail .userFirstLetters {
    position: relative;
}
.ProjectsDetail .userFirstLetters .deleteUser,
.IssueDetail .userFirstLetters .deleteUser {
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 1;
}
.ProjectsDetail .userFirstLetters .deleteUser span.cursorPointer,
.IssueDetail .userFirstLetters .deleteUser span.cursorPointer {
    background-color: #FFFFFF;
    color: black;
    border: solid 1px #DEDEE6;
    padding: 7px;
    white-space: nowrap;
    z-index: 2;
    position: absolute;
    right: 4px;
    top: 26px;
}
.ProjectsDetail .userFirstLetters .deleteUser span.cursorPointer {
    padding: 7px 2px;
}
.IssueDetail .userFirstLetters .deleteUser span.cursorPointer:hover {
    background-color: #A9C6EE;
}
.ProjectsDetail .deleteUser .firstLettersCheckbox,
.IssueDetail .deleteUser .firstLettersCheckbox {
    width: 25px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
}
.ProjectsDetail .deleteUser .firstLettersCheckbox:checked ~ span.cursorPointer,
.IssueDetail .deleteUser .firstLettersCheckbox:checked ~ span.cursorPointer {
    display: inline-block;
}
.ProjectsDetail .deleteUser .firstLettersCheckbox:not(:checked) ~ span.cursorPointer,
.IssueDetail .deleteUser .firstLettersCheckbox:not(:checked) ~ span.cursorPointer {
    display: none;
}
.IssueDetail table tr.tabs td:nth-child(-n+2):hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.ProjectsDetail .deleteUser span.cursorPointer:hover {
    background-color: #F5F5F5;
}
.IssueDetail table .addSubtask {
    margin-left: 10px;
}
/*---------------------------------------------------------*/

/* ProjectsTable */
.ProjectsTable table {
    width: 100%;
    border-spacing: 0;
    margin: 0;
    text-align: left;
}
.ProjectsTable table tr td,
.ProjectsTable table tr th {
    border-right: 1px solid #D7D8DA;
    border-bottom: 1px solid #D7D8DA;
    padding: 5px;
}
.ProjectsTable table tr th:nth-child(1),
.ProjectsTable table tr td:nth-child(1),
.ProjectsTable table tr th:nth-child(5),
.ProjectsTable table tr td:nth-child(5) {
    width: 5%;
}
.ProjectsTable table tr td:nth-child(5) {
    text-align: center;
}
.ProjectsTable table tr th:nth-child(2),
.ProjectsTable table tr td:nth-child(2) {
    width: 50%;
}
.ProjectsTable table tr th:nth-child(n+3):nth-child(-n+4),
.ProjectsTable table tr td:nth-child(n+3):nth-child(-n+4),
.ProjectsTable table tr th:nth-child(n+6):nth-child(-n+7),
.ProjectsTable table tr td:nth-child(n+6):nth-child(-n+7) {
    width: 10%;
}
.ProjectsTable table tr th:last-child,
.ProjectsTable table tr td:last-child {
    border-right: none;
}
.ProjectsTable table tr:first-child th {
    border-bottom: 1px solid #C2C2C2;
}
.ProjectsTable table tr th:first-child,
.ProjectsTable table tr td:first-child {
    border-right: 1px solid #C2C2C2;
    text-align: center;
}
.ProjectsTable table tr:nth-child(n+1):nth-child(-n+2) {
    color: #8D949A;
}
.ProjectsTable table tr:first-child {
    background-color: #E6E7E9;
}
.ProjectsTable table tr:nth-child(2) {
    background-color: #F3F3F3;
}
/*---------------------------------------------------------*/

/* ProjectsTimeline */
.ProjectsTimeline {
    overflow-y: auto;
    overflow-x: auto;
}
.ProjectsTimeline table {
    width: 100%;
    border-spacing: 0;
    margin: 0;
    text-align: left;
}
.ProjectsTimeline table tr:nth-child(-n+2) td {
    border-right: 1px solid #D7D8DA;
    border-bottom: 1px solid #D7D8DA;
    padding: 5px;
    text-align: center;
}
.ProjectsTimeline table tr:nth-child(3) td {
    padding: 0;
}
.ProjectsTimeline table tr:nth-child(3) td .timelineFirstElement,
.ProjectsTimeline table tr:nth-child(3) td .timelineMiddleElement,
.ProjectsTimeline table tr:nth-child(3) td .timelineLastElement {
    margin-top: 4px;
    height: 18px;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px solid #47984c;
}
.ProjectsTimeline table tr:nth-child(3) td .timelineLastElement .triangle,
.ProjectsTimeline table tr:nth-child(3) td .timelineFirstElement .triangleRight {
    right: 0;
}
.ProjectsTimeline table tr:nth-child(3) td .timelineFirstElement .timelineProjectInfo {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
}
.ProjectsTimeline table tr:nth-child(3) td .triangle,
.ProjectsTimeline table tr:nth-child(3) td .triangleRight {
    position: absolute;
    top: 26px;
}
.ProjectsTimeline table tr:nth-child(4) td div {
    margin-top: 10px;
}
.ProjectsTimeline table tr:nth-child(n+4) td {
    padding: 0 0 22px 0;
}
.ProjectsTimeline table tr td.timelineWeekend {
    background-color: #F3F3F3;
}
.ProjectsTimeline table tr td.lastDayMonth {
    border-right: 1px solid #DE0000;
}
.ProjectsTimeline table tr td.issueTimeline div {
    background-color: #AABDDE;
    border-top: 1px solid #6C8BC2;
    border-bottom: 1px solid #6C8BC2;
    height: 15px;
}
.ProjectsTimeline table tr td.issueTimelineFirst div {
    border-left: 1px solid #6C8BC2;
}
.ProjectsTimeline table tr td.issueTimelineLast div {
    border-right: 1px solid #6C8BC2;
}
.ProjectsTimeline table tr:last-child td {
    border-bottom: 1px solid #D7D8DA;
}
.ProjectsTimeline table tr:nth-child(n+4) td {
    position: relative;
    margin-bottom: 20px;
}
.ProjectsTimeline table tr:nth-child(n+4) td .timelineContentFirst {
    padding-top: 3px;
    position: absolute;
    width: 100px;
    z-index: 1;
    white-space: nowrap;
}
.ProjectsTimeline table tr:nth-child(n+4) td .timelineContentFirst span:last-child {
    padding-right: 10px;
}
.ProjectsTimeline table tr:nth-child(3) td {
    position: relative;
}
.ProjectsTimeline .timelineFirstElement .imgList {
    padding-right: 4px;
}
/*---------------------------------------------------------*/

/* Task */
.Task {
    height: 24px;
    position: relative;
}
.Task .addUserToTask {
    position: absolute;
    box-shadow: 0 0 5px 2px #999999;
    font-size: 12px;
    background-color: #FFFFFF;
}
.Task .addUserToTask .taskAddUserText {
    padding: 8px 8px 5px 8px;
    border-bottom: solid 1px #DEDEE6;
    color: #919191;
}
.Task .tasksText {
    display: inline-block;
    vertical-align: top;
    margin: 4px 0 0 5px;
}
.Task .addUserToTask .taskUsersList {
    z-index: 10000;
    padding: 8px;
}
.Task .addUserToTask .taskUsersList:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.Task .addUserToTask .firstLetters {
    width: 22%;
    vertical-align: top;
    margin-top: 5px;
}
.Task .addUserToTask .info {
    width: 78%;
}
.Task .addUserToTask .firstLetters,
.Task .addUserToTask .info {
    display: inline-block;
}
.Task span.userIco {
    display: inline-block;
    width: 30px;
    height: 24px;
}
.Task span.userIco span.cursorPointer:first-child {
    margin-top: 2px;
    display: inline-block;
}
.Task span.userIco .userFirstLetters {
    position: static;
}
.Task .removeBtn {
    display: inline-block;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: transparent;
    position: absolute;
    right: 10px;
    top: 1px;
}
/*---------------------------------------------------------*/

/* Media */
@media screen and (max-width: 1340px) {
    .Projects,
    .ProjectsDetail,
    .MyIssues,
    .IssueDetail {
        width: auto;
        position: static;
        margin: 10px 10px 10px 290px;
        display: block;
        min-width: 430px;
        height: auto;
    }
}
/*---------------------------------------------------------*/